:root {
  --font-100px: 6.25rem;
  --font-90px: 5.63rem;
  --font-80px: 5rem;
  --font-70px: 4.38rem;
  --font-60px: 3.75rem;
  --font-50px: 3.13rem;
  --font-44px: 2.75rem;
  --font-40px: 2.5rem;
  --font-38px: 2.38rem;
  --font-36px: 2.25rem;
  --font-34px: 2.13rem;
  --font-30px: 1.88rem;
  --font-28px: 1.75rem;
  --font-26px: 1.63rem;
  --font-24px: 1.5rem;
  --font-22px: 1.38rem;
  --font-20px: 1.25rem;
  --font-18px: 1.13rem;
  --font-16px: 1rem;
  --font-14px: 0.88rem;

  --color-main: rgba(44, 0, 62, 1);
  --color-point1: rgba(0, 174, 255, 1);
  --color-point2: rgba(255, 0, 128, 1);
  --color-sub1: rgba(245, 245, 245, 1);
  --color-sub2: rgba(163, 163, 163, 1);
  --main-font: #333;
  --sub-font: rgba(245, 245, 245, 1);
  --color-7main: #d92629;
  --color-7point1: #e77e2d;
  --color-7point2: #017121;
  --color-7sub2: #faf8f5;
}

@keyframes scale {
  0% {
    color: #333;
    background: var(--color-sub1);
  }

  25% {
    color: #fff;
    background: rgba(0, 125, 255, 0.7);
    border-radius: 10px;
  }

  75% {
    color: #fff;
    background: rgba(0, 125, 255, 0.7);
    border-radius: 10px;
  }

  100% {
    color: #333;
    background: var(--color-sub1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.1) translateY(0);
  }

  25% {
    transform: scale(1.15) translateY(-2px);
  }

  50% {
    transform: scale(1.1) translateY(0);
  }

  75% {
    transform: scale(1.15) translateY(-1px);
  }

  100% {
    transform: scale(1.1) translateY(0);
  }
}

@keyframes scale2 {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 보험 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: var(--font-18px);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  font-weight: 400;
}

button,
input,
select,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: top;
}

.hidden {
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

#headerArea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100 !important;
  background-color: rgba(255, 255, 255, 0.95);
  transition: background-color 0.5s ease;
}

#headerArea #gnb #menu {
  font-family: "Roboto", "sans-serif";
  width: 95%;
  margin: 10px auto;
  display: flex;
  font-size: var(--font-20px);
  gap: 20px;
}

#headerArea #gnb #menu li {
  padding: 10px 30px 12px;
  border-radius: 10px;
  border: 1px solid #555;
}

#headerArea #gnb #menu li:hover,
#headerArea #gnb #menu li.active {
  padding: 10px 30px 12px;
  background-color: #343a40;
  border-radius: 10px;
}

#headerArea #gnb #menu li:hover a,
#headerArea #gnb #menu li.active a {
  color: #fff;
}

@media (max-width: 1024px) {
  #headerArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100 !important;
    background-color: rgba(255, 255, 255, 0.95);
    transition: background-color 0.5s ease;
  }

  #headerArea #gnb #menu {
    font-family: "Roboto", "sans-serif";
    width: 99%;
    margin: 10px auto;
    display: flex;
    font-size: var(--font-14px);
    gap: 10px;
  }

  #headerArea #gnb #menu li {
    padding: 10px 5px;
    border-radius: 10px;
  }

  #headerArea #gnb #menu li:hover,
  #headerArea #gnb #menu li.active {
    padding: 10px 5px;
    background-color: #343a40;
    border-radius: 10px;
  }

  #headerArea #gnb #menu li:hover a,
  #headerArea #gnb #menu li.active a {
    color: #fff;
  }
}

@media (max-width: 768px) {
  #headerArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100 !important;
    background-color: rgba(255, 255, 255, 0.95);
    transition: background-color 0.5s ease;
  }

  #headerArea #gnb #menu {
    font-family: "Roboto", "sans-serif";
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 0;
  }

  #headerArea #gnb #menu li {
    padding: 10px 5px;
    border-radius: 10px;
  }

  #headerArea #gnb #menu li:hover,
  #headerArea #gnb #menu li.active {
    padding: 10px 5px;
    background-color: #343a40;
    border-radius: 10px;
  }

  #headerArea #gnb #menu li:hover a,
  #headerArea #gnb #menu li.active a {
    color: #fff;
  }
}
