/*  6section Review */

.review-content {
  width: 100%;
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 7px 0;
  background-color: #e3f2fd;
  border: 0.2px solid #ccc;
  height: 78vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.review-content ul {
  padding: 40px 20px 0;
}

.review-content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 70%;
}

.review-content img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  object-fit: cover;
  flex-shrink: 0;
  background: #fff;
  border: 0.5px solid #ccc;
}

.message-bubble {
  padding: 10px 20px;
  border-radius: 18px;
  font-weight: 400;
  line-height: 1.7rem;
}

.review-list li[class^="question"] {
  margin-right: auto;
}

.review-list li[class^="question"] img {
  margin: -40px 15px 0 0;
}

.review-list li[class^="question"] .message-bubble {
  background-color: #fff;
  border-radius: 1px 17px 17px 17px;
}

.review-list li[class^="review"] {
  margin-left: auto;
  flex-direction: row-reverse;
}

.review1 img {
  margin: -120px 0 0 15px;
}

.review2 img {
  margin: -140px 0 0 15px;
}

.review3 img,
.review4 img,
.review5 img {
  margin: -120px 0 0 15px;
}

.review-list li[class^="review"] .message-bubble {
  background-color: #ffeb33;
  color: #3c1e1e;
  border-radius: 17px 1px 17px 17px;
}

/* 





모바일





*/

@media (max-width: 768px) {
  .review-content {
    width: 100%;
    max-width: 1500px;
    min-width: 330px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #e3f2fd;
    border: 0.2px solid #ccc;
    height: 73vh;
    overflow-y: auto;

    h3 {
      font-size: 14px;
      line-height: 1.2rem;
    }

    p {
      font-size: 12px;
      line-height: 1.3rem;
    }
  }

  .review-content ul {
    padding: 10px;
  }

  .review-content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    max-width: 100%;
  }

  .review-content img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
    flex-shrink: 0;
    background: #fff;
    border: 0.5px solid #ccc;
  }

  .message-bubble {
    width: 100%;
    padding: 5px 10px;
    border-radius: 18px;
  }

  .review-list li[class^="question"] {
    margin-right: auto;
  }

  .review-list li[class^="question"] img {
    margin: -3px 15px 0 0;
  }

  .review-list li[class^="question"] .message-bubble {
    background-color: #fff;
    border-radius: 5px;
  }

  .review-list li[class^="review"] {
    margin-left: auto;
    flex-direction: row-reverse;
  }

  .review1 img,
  .review2 img,
  .review3 img,
  .review4 img,
  .review5 img {
    display: none;
  }

  .review-list li[class^="review"] .message-bubble {
    background-color: #ffeb33;
    color: #3c1e1e;
    border-radius: 5px;
  }
}
