/* 프로필 CSS */

.profile-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.profile-link {
  width: 100%;
  max-width: 1500px;
  min-width: 1500px;
  margin: -3px auto 15px;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.profile-link li {
  background: #343a40;
  border: 3px solid transparent;
  padding: 7px 20px 9px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.profile-link li a {
  font-family: "Roboto", "sans-serif";
  font-size: var(--font-24px);
  font-weight: 500;
  color: var(--color-sub1);
}

.profile-link li:hover {
  background: var(--color-sub1);
  border: 3px solid #343a40;
}

.profile-link li:hover a {
  color: #343a40;
  font-weight: 600;
}

.profile-main {
  width: 100%;
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  padding: 1px 15px;
  display: flex;
  align-items: center;
  gap: 1%;
  background: #fff;
  border: 0.2px solid #ccc;
  border-radius: 20px;
}

.profile-main .visual {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
}

.profile-main .visual img {
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
}

.profile-introduction {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile-introduction {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-identity {
  margin-bottom: 20px;
}

.headline {
  font-family: "Playfair Display", serif;
  font-size: var(--font-38px);
  font-weight: 700;
  margin-bottom: 15px;
}

.bio {
  font-size: var(--font-20px);
  line-height: 1.7rem;
  color: #777;
  font-weight: 400;

  strong {
    color: #333;
    font-size: var(--font-20px);
  }
}

/* 2. 기술 스택 */
.profile-tech {
  margin-bottom: 15px;
}

.tech-title {
  width: 200px;
  padding: 5px 10px;
  font-family: "Roboto", "sans-serif";
  font-size: var(--font-20px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  color: var(--color-sub1);
  background: #343a40;
  border-radius: 8px;
}

.tech-category.--frontend {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: rgba(163, 163, 163, 0.3);
  border-radius: 8px;
  margin-bottom: 10px;
  /* 아래 그리드와의 간격 */
}

.tech-sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tech-category {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: rgba(163, 163, 163, 0.3);
  border-radius: 8px;
}

.tech-category span {
  font-family: "Roboto", "sans-serif";
  font-size: var(--font-16px);
  font-weight: 600;
  width: 130px;
  flex-shrink: 0;
}

.tech-category img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 8px;
}

/* 



모바일


*/
@media (max-width: 768px) {
  .profile-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .profile-link {
    width: 95%;
    height: 70%;
    max-width: 1500px;
    min-width: 330px;
    margin: 0px auto 1px;
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-bottom: 5px;
  }

  .profile-link li {
    background: #343a40;
    border: 3px solid transparent;
    padding: 7px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .profile-link li a {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 500;
    color: var(--color-sub1);
  }

  .profile-link li:hover {
    background: var(--color-sub1);
    border: 2px solid #343a40;
  }

  .profile-link li:hover a {
    color: #343a40;
    font-weight: 600;
  }

  .profile-main {
    width: 98%;
    height: 80%;
    max-width: 1500px;
    min-width: 330px;
    margin: 0 auto -8px;
    padding: 10px 7px;
    display: flex;
    align-items: center;
    gap: 1%;
    background: #fff;
    border: 0.2px solid #ccc;
    border-radius: 20px;
  }

  .profile-main .visual {
    display: none;
  }

  .profile-introduction {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-identity {
    margin-bottom: 10px;
  }

  .headline {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .bio {
    font-size: 13px;
    line-height: 1.3rem;
    color: #555;
    font-weight: 400;

    strong {
      color: #333;
      font-size: 14px;
    }
  }

  /* 2. 기술 스택 */
  .profile-tech {
    margin-bottom: 5px;
  }

  .tech-title {
    width: 170px;
    padding: 5px;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
    color: var(--color-sub1);
    background: #343a40;
    border-radius: 8px;
  }

  .tech-category.--frontend {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 8px;
    margin-bottom: 3px;
  }

  .tech-sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
  }

  .tech-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 8px;
  }

  .--frontend span {
    width: 70px !important;
    flex-shrink: 0;
  }

  .tech-category span {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    flex-shrink: 0;
  }

  .tech-category img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 8px;
  }
}
